# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

bin/
images/redis-operator/bin/
images/redis-operator-e2e/bin/
images/redis-operator-e2e/redis-cluster/
images/redis-operator-e2e/redis-operator/

*.tar
tmp/
data/
.idea
.vscode

# ginkgo test coverage
*.coverprofile

# retool. We could check this in like a vendor
# But it is just tools that can be installed with make setup
/_tools/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
